<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qc.module.appIndexTagIdRelation.mapper.AppIndexTagIdRelationMapper">

    <insert id="insert" parameterType="com.qc.module.appIndexTagIdRelation.entity.AppIndexTagIdRelation" useGeneratedKeys="true" keyProperty="id">
        insert into app_index_tag_id_relation(
        <if test="appIndexTagIdRelation.showTagId!=null">show_tag_id,</if>
        <if test="appIndexTagIdRelation.tagId!=null">tag_id,</if>
        <if test="appIndexTagIdRelation.updateTime!=null">update_time,</if>
        <if test="appIndexTagIdRelation.createTime!=null">create_time,</if>
        is_deleted
        )values(
        <if test="appIndexTagIdRelation.showTagId!=null">#{appIndexTagIdRelation.showTagId},</if>
        <if test="appIndexTagIdRelation.tagId!=null">#{appIndexTagIdRelation.tagId},</if>
        <if test="appIndexTagIdRelation.updateTime!=null">#{appIndexTagIdRelation.updateTime},</if>
        <if test="appIndexTagIdRelation.createTime!=null">#{appIndexTagIdRelation.createTime},</if>
        #{appIndexTagIdRelation.isDeleted}
        )
    </insert>

    <update id="update" parameterType="com.qc.module.appIndexTagIdRelation.entity.AppIndexTagIdRelation">
        update app_index_tag_id_relation set
        update_time = #{appIndexTagIdRelation.updatetime}
        <if test="appIndexTagIdRelation.showTagId!=null">,show_tag_id=#{appIndexTagIdRelation.showTagId}</if>
        <if test="appIndexTagIdRelation.tagId!=null">,tag_id=#{appIndexTagIdRelation.tagId}</if>
        <if test="appIndexTagIdRelation.createTime!=null">,create_time=#{appIndexTagIdRelation.createTime}</if>
        <if test="appIndexTagIdRelation.isDeleted!=null">,is_deleted=#{appIndexTagIdRelation.isDeleted}</if>
        where id =#{appIndexTagIdRelation.id}
    </update>
    <select id="extractIndexTagIdRelationListForConsole" resultType="com.qc.module.appIndexTagIdRelation.entity.AppIndexTagIdRelation">
        select * from app_index_tag_id_relation
        <where>
            <if test="showTagId!=null">
                show_tag_id = #{showTagId}
            </if>
            <if test="tagId!=null">
                and tag_id = #{tagId}
            </if>
        </where>
        limit #{begin},#{size}
    </select>

</mapper>