<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.module.course.mapper.CourseTagRelationMapper">

    <insert id="insert" parameterType="com.qc.module.course.entity.CourseTagRelation" useGeneratedKeys="true" keyProperty="id">
        insert into course_tag_relation(
        <if test="courseTagRelation.courseId!=null and courseTagRelation.courseId!=''">course_id,</if>
        <if test="courseTagRelation.tagId!=null and courseTagRelation.tagId!=''">tag_id,</if>
        <if test="courseTagRelation.updateTime!=null">update_time,</if>
        <if test="courseTagRelation.createTime!=null">create_time,</if>
        is_deleted
        ) values (
        <if test="courseTagRelation.courseId!=null and courseTagRelation.courseId!=''">#{courseTagRelation.courseId},</if>
        <if test="courseTagRelation.tagId!=null and courseTagRelation.tagId!=''">#{courseTagRelation.tagId},</if>
        <if test="courseTagRelation.updateTime!=null">#{courseTagRelation.updateTime},</if>
        <if test="courseTagRelation.createTime!=null">#{courseTagRelation.createTime},</if>
        #{courseTagRelation.isDeleted})
    </insert>
    <update id="update" parameterType="com.qc.module.course.entity.CourseTagRelation">
        update course_tag_relation set
        update_time = #{courseTagRelation.updateTime}
        <if test="courseTagRelation.courseId!=null">,course_id=#{courseTagRelation.courseId}</if>
        <if test="courseTagRelation.tagId!=null">,tag_id=#{courseTagRelation.tagId}</if>
        <if test="courseTagRelation.createTime!=null">,create_time=#{courseTagRelation.createTime}</if>
        <if test="courseTagRelation.isDeleted!=null">,is_deleted=#{courseTagRelation.isDeleted}</if>
        where id = #{courseTagRelation.id}
    </update>
    <select id="extractCourseTagRelationList" resultType="com.qc.module.course.entity.CourseTagRelation">
        select * from course_tag_relation
        <where>
            <if test="courseId!=null">
                course_id = #{courseId}
            </if>
            <if test="tagId!=null">
                and tag_id = #{tagId}
            </if>
        </where>
        limit #{begin},#{size}
    </select>


</mapper>

